.change-password .row {
  --bs-gutter-x: 0;
}

.form-label.label-custom-css, .row .just-for-rendering {
  width: 30%;
  padding-right: 0.8rem;
  text-align: right;
}

.form-control.input-custom-css, .row .invalid-input-msg {
  width: 70%;
}

.form-control.input-red {
  border: 1px solid #FF3333;
}

.invalid-input-msg {
  color: #FF3333;
  text-align: left;
}

.form-control.input-green {
  border: 1px solid green;
}

.change-password .form-label {
  margin-bottom: 0!important;
}

.submit-button-css {
  height: 3rem;
  width: 5rem;
  border-radius: 30px;
}
