.form-label.label-custom-css, .row .just-for-rendering {
  width: 25%;
  text-align: right;
}

.form-control.input-custom-css, .row .invalid-input-msg {
  width: 66.6%;
}

.form-control.input-red {
  border: 1px solid #FF3333;
}

.invalid-input-msg {
  color: #FF3333;
  text-align: left;
}

.form-control.input-green {
  border: 1px solid green;
}

.change-password .form-label {
  margin-bottom: 0!important;
}

.submit-button-css {
  height: 3rem;
  border-radius: 30px;
}



/* .main-content-css {
  position: relative;
} */