  :root {
    --navbarHeight: 61px;
  }
  
/* Sidenav CSS */

  .sidebar-custom-css {
    height: calc(100% - var(--navbarHeight));
    top: var(--navbarHeight);
    position: fixed;
    overflow: auto;
  }
  
  .mySidebarOpened {
    width: 18%;
    transition: width 0.4s;
  }
  
  @media screen and (max-width: 576px) {
    .mySidebarOpened {
      width: 100%;
      transition: width 0.3s;
    }
  }

  @media screen and (max-width: 800px) {
    .mySidebarOpened {
      width: 30%;
      transition: width 0.3s;
    }
  }

  .mySidebarClosed.w3-bar-block {
    width: 0;
    height: calc(100% - var(--navbarHeight));
    transition: width 0.3s;
  }
  
  .sidebar-custom-css {
    background-color:deepskyblue;
    z-index: 1;
  }

/* Header CSS */

  .page-header {
    background: white;
    opacity: 0.95;
  }

  .hamburger-css {
    align-items: center;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
  }

  .dash-header {
    text-align: center;
  }
  
  .settings-icon {
    width: 100%;
  }
  
  /* CSS for main content of any page */
  
  .main-content-css {
    position: absolute;
    right: 0;
    top: var(--navbarHeight);

  }

  .main-content-css.shift {
    width: 82%!important;
    transition: width 0.4s;
  }

  .main-content-css.center {
    width: 100%;
    transition: width 0.3s;
  }