  .w3-sidebar {
    height: calc(100% - 52px);
    top: 52px;
  }

  .mySidebarOpened.w3-sidebar {
    width: 18%;
    transition: width 0.4s;
  }
  
  @media screen and (max-width: 576px) {
    .mySidebarOpened.w3-sidebar {
      width: 100%;
      transition: width 0.3s;
    }
  }
  
  .mySidebarClosed.w3-sidebar.w3-bar-block {
    width: 0;
    height: calc(100% - 52px);
    transition: width 0.3s;
  }
  
  .w3-sidebar.sidebar-custom-css {
    background-color:deepskyblue;
    position: absolute!important;
    height: inherit;
  }

  .hamburger-css {
    align-items: center;
    text-align: center;
    /* background-color: #0dcaf0; */
  }

  .dash-header {
    text-align: center;
  }
  
  .settings-icon {
    width: 100%;
  }