.row {
    --bs-gutter-x: 3.5rem;
}

form.container {
    color: #184e77;
}

.invalid-credentials-msg {
    color: #FF3333;
    font-family: 'Quicksand', sans-serif;
}

.login-button-css {
    color: #95d5b2;
    display: inline-block;
    font-weight: bold;
}

.form-control.invalid-field-color {
    border: 1px solid #FF3333;
}

.form-control.email-green-color {
    border: 1px solid green;
}