.mySidebarOpened.w3-sidebar {
  width: 18%;
  transition: width 0.5s;
}

@media screen and (max-width: 576px) {
  .mySidebarOpened.w3-sidebar {
    width: 100%;
    transition: width 0.5s;
  }
}

.mySidebarClosed.w3-sidebar {
  width: 0;
  transition: width 0.5s;
}

.w3-sidebar {
  background-color:deepskyblue;
}

.hamburger-css {
  align-items: center;
  text-align: center;
  background-color: #0dcaf0;
}

.dash-header {
  text-align: center;
}

.form-label.label-custom-css {
  width: 25%;
  text-align: right;
}

.form-control.input-custom-css {
  width: 66.6%;
}

.dashboard .form-label {
  margin-bottom: 0!important;
}

.submit-button-css {
  height: 3rem;
  border-radius: 30px;
}