.form-label.label-custom-css {
  width: 25%;
  text-align: right;
}

.form-control.input-custom-css {
  width: 66.6%;
}

.dashboard .form-label {
  margin-bottom: 0!important;
}

.submit-button-css {
  height: 3rem;
  border-radius: 30px;
}