  :root {
    --navbarHeight: 61px;
    /* --mysmallBp: 576px;
    --mymediumBp: 800px; */
  }
  
/* Sidenav CSS */

  .sidebar-custom-css {
    height: calc(100% - var(--navbarHeight));
    top: var(--navbarHeight);
    position: fixed;
    overflow: auto;
  }

  .sidebar-custom-css a {
    color: inherit;
    text-decoration: none;
  }

  .sidebar-custom-css button.w3-bar-item {
    border-bottom: 1px solid var(--bs-primary);
  }

  .mySidebarOpened {
    border-right: 1px solid var(--bs-primary);
    width: 17%;
    opacity: 1;
    transition: 0.4s;
  }
  
  @media screen and (max-width: 576px) {
    .mySidebarOpened {
      width: 90%;
      opacity: 1;
      transition: 0.3s;
    }
  }

  @media screen and (min-width: 577px) and (max-width: 900px) {
    .mySidebarOpened {
      width: 30%;
      opacity: 1;
      transition: 0.3s;
    }
  }

  .mySidebarClosed.w3-bar-block {
    width: 0;
    opacity: 0;
    height: calc(100% - var(--navbarHeight));
    transition: 0.3s;
  }
  
  .sidebar-custom-css {
    background-color:white;
    z-index: 1;
  }

  .sidenav-dropdown.hide {
    line-height:0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .sidenav-dropdown.show {
    height: initial;
    opacity: 1;
    transition: 0.3s;
  }

  .sidenav-dropdown * {
    background-color: rgb(190, 205, 255);
    color: rgb(68, 68, 68);
  }

/* Header CSS */

  .page-header {
    background: white;
    opacity: 0.95;
  }

  .w3-button.hamburger-css {
    width: 7.3%;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
  }

  @media screen and (max-width: 576px) {
    .w3-button.hamburger-css {
      width: 15%;
    }
  }

  .dash-header {
    text-align: center;
  }
  
  .dropdown.dropdown-css {
    width: 7.3%;
  }

  .settings-icon {
    width: 100%;
  }
  .settings-icon:hover {
    background-color: #ccc;
  }
  .settings-icon:focus {
    background-color: #ccc;
    box-shadow: none!important;
  }
  
  /* CSS for main content of any page */
  
  .main-content-css {
    position: absolute;
    right: 0;
    top: var(--navbarHeight);
  }

  .main-content-css.shift {
    width: 83%;
    transition: width 0.4s;
  }

  .main-content-css.center {
    width: 100%;
    transition: width 0.3s;
  }